@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProDotnetCore.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>Thank you,@Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:It's great that you are coming.

        }
        else
        {
            @:Sorry to hear that you can not make it.

        }
        <p>Click <a class="navbar-link" asp-action="ListResponses">here</a>to see who is coming.
        </p>
    </div>
</body>
</html>
